{% extends 'template.html' %}

{% block content %}

<script>
    $.get("/v1/terrareg/analytics/global/stats_summary", function(data, status) {
        $('#namespace-count').html(data.namespaces);
        $('#module-count').html(data.modules);
        $('#version-count').html(data.module_versions);
        $('#download-count').html(data.downloads);
    });
</script>

<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Namespaces</p>
            <p id="namespace-count" class="title"></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Modules</p>
            <p id="module-count" class="title"></p>
        </div>
    </div>
    <p class="level-item has-text-centered">
        <h1 class="title is-1">Terrareg</h1>
    </p>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Module Versions</p>
            <p id="version-count" class="title"></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Downloads</p>
            <p id="download-count" class="title"></p>
        </div>
    </div>
</nav>
{% endblock %}
