{% extends 'template.html' %}

{% block title %}Login{% endblock %}

{% block header %}
<script>
    function login() {
        let ajaxRes = $.ajax({
            url: '/v1/terrareg/auth/admin/login',
            contentType: 'application/json',
            dataType: 'json',
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'X-Terrareg-ApiKey': $('#admin_token_input').val()
            },
            statusCode: {
                200: () => {
                    // Redirect to homepage
                    location.href = '/';
                },
                401: () => {
                    // Show login error
                    $('#login_error').css('display', 'block');
                    $('#login_error').html('Incorrect admin token');                    
                }
            }
        });
    }

    getConfig().then((config) => {
        if (config.OPENID_CONNECT_ENABLED) {
            $('#sso-login').removeClass('default-hidden');
        }
        $('#login-button').removeClass('default-hidden');
    });
</script>
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li class="is-active"><a href="/login">Login</a></li>
    </ul>
</nav>

<nav class="level">
    <div class="level-item">

        <div class="field is-vertical">
            <div id="login_error" style="display: none" class="notification is-danger">
            </div>
            <form onsubmit="login(); event.preventDefault();">
                <div class="field">
                    <label class="label">Admin Token</label>
                    <div class="control">
                    <input id="admin_token_input" class="input" type="password" placeholder="Admin Token">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button id="login-button" class="button is-link default-hidden">Submit</button>
                    </div>
                </div>
            </form>

            <br />
            <a id="sso-login" class="button default-hidden" href="/openid/login">Login with SSO</a>
        </div>

    </div>
</nav>

{% endblock %}
