{% extends 'template.html' %}

{% block content %}

<script src="/static/js/terrareg/search_result_card.js"></script>

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li id="searchBreadcrumb"><a href="/modules/search">Search</a></li>
        <li id="searchQueryBreadcrumbParent"><a id="searchQueryBreadcrumb" href=""></a></li>
    </ul>
</nav>


<div class="columns">
    <div class="column is-one-fifth">
        <nav class="panel">
            <p class="panel-heading">
              Filters
            </p>

            <a class="panel-block is-active">
                <input id="search-verified" type="checkbox" />
                <span class="panel-icon">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                </span>
                Verified
            </a>
            <a class="panel-block is-active">
                <input id="search-trusted-namespaces" type="checkbox" checked="checked" />
                <span class="panel-icon">
                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                </span>
                Trusted Namepsaces
            </a>
            <a class="panel-block">
                <input id="search-contributed" type="checkbox" />
                Contributed
            </a>
        </nav>
    </div>
    <div class="column is-three-fifths">

        <section id="results">
        </section>

    </div>
</div>

<script>

    function performSearch() {

        let searchQuery = $('#navBarSearchInput')[0].value;

        if (searchQuery) {
            console.log('Search query provided');

            // Mark search query breadcrumb as active
            document.getElementById('searchQueryBreadcrumbParent').className = "is-active";
            // Update link and text in search query breadcrumb
            document.getElementById('searchQueryBreadcrumb').setAttribute('href', '/modules/search' + queryString);
            document.getElementById('searchQueryBreadcrumb').innerHTML = searchQuery;

            // Perform AJAX query to obtain results
            $.get(`/v1/modules/search?` +
                  `q=${encodeURIComponent(searchQuery)}&` +
                  `verified=${$('#search-verified').is(':checked')}&` +
                  `trusted_namespace=${$('#search-trusted-namespace').is(':checked')}&` +
                  `contributed=${$('#search-contributed').is(':checked')}`,
                  function(data, status){
                if (data.modules.length == 0) {
                    $('#results').html(`
                        No modules match your search criteria.
                        <br />
                        Please check for spelling errors and try again.
                    `);
                } else {
                    document.getElementById('results').style.display = "block";
                }

                // Iterate through modules
                data.modules.forEach((module) => {
                    console.log(module);
                    createSearchResultCard('results', module);
                });
            });
    
        } else {
            console.log('No search query provided');
            // Set 'search' breadcrumb as active
            document.getElementById('searchBreadcrumb').className = "is-active";
            // Remove search query breadcrumb
            document.getElementById('searchQueryBreadcrumbParent').remove();

            // Show no query provided
            $('#results').html(`
                No search query has been performed.
                <br />
                Use the search bar above to search for module.
            `);
        }
    }

    navbar_search_modules = performSearch;

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const searchQuery = urlParams.get('q');

    if (searchQuery) {
        $('#navBarSearchInput').val(searchQuery);
    }
    performSearch();
</script>

{% endblock %}
