{% extends 'template.html' %}

{% block content %}

<script src="/static/js/terrareg/module_provider_page.js"></script>

<script>
    $(document).ready(function () {
        renderPage();
    });
</script>

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul id="breadcrumb-ul">
    </ul>
</nav>


<div style="background-color: #f9f9f9; padding-top: 30px; padding-bottom: 30px;">

    <!-- Warning when no versions of module are available -->
    <div id="no-version-available" class="columns is-centered" style="display: none;">
        There are no versions of this module
    </div>

    <!-- Main details header body -->
    <div id="module-details-body" class="columns is-centered" style="display: none;">

        <!-- Provider Logo -->
        <a id="provider-logo-link" style="margin-top: 30px; max-height: 150px; display: none;" href="">
            <img id="provider-logo-img" height="150" width="150" alt="" src="" />
        </a>

        <!-- Module details -->
        <div class="column is-one-third">

            <section id="details-version">
                <section id="details-version">
                    Version
                    <div class="select is-small">
                        <select id="version-select" autocomplete="off" onchange="onVersionSelectChange(event);">
                        </select>
                    </div>
                </section>
            </section>
        
            <!-- Basic details about module -->
            <p id="module-title" class="title">
            </p>
            <p id="module-provider" class="subtitle">
            </p>

            <p id="unpublished-warning" class="subtitle" style="display: none;">
                <b>WARNING:</b> This version of the module is not published.
            </p>
        
            <p id="module-description" class="subtitle">
            </p>

            <p id="published-at"></p>
            <p id="module-owner"></p>
            <p id="source-url"></p>

            <br />
            <a id="submodule-back-to-parent" class="buton" href="" style="display: none;">Back to parent</a>


            <section id="submodule-select-container" style="display: none;">
                <div class="select is-small">
                    <select id="submodule-select" autocomplete="off" onchange="onSubmoduleSelectChange(event);">
                        <option value="none">Select submodule</option>
                    </select>
                </div>
            </section>

            <br />
            <section id="example-select-container" style="display: none;">
                <div class="select is-small">
                    <select id="example-select" autocomplete="off" onchange="onSubmoduleSelectChange(event);">
                        <option value="none">Select example</option>
                    </select>
                </div>
            </section>
        
            <br />
            <br />

        </div>

        <div class="column is-one-third">

            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Module Downloads</th>
                            <th>
                                <span class="tag is-warning is-light">All Versions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Downloads this week</td>
                            <td id="downloads-week"></td>
                        </tr>
                        <tr>
                            <td>Downloads this month</td>
                            <td id="downloads-month"></td>
                        </tr>
                        <tr>
                            <td>Downloads this year</td>
                            <td id="downloads-year"></td>
                        </tr>
                        <tr>
                            <td>Downloads over all time</td>
                            <td id="downloads-total"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="box">
                <h5 class="title is-5">Usage</h5>
                <div class="content">
                    To use this module:
                    <ol>
                        <li>Add the following example to your terraform,</li>
                        <li>Ensure the "<span id="usage-example-analytics-token"></span>" placeholder must be replaced with your '<span id="usage-example-analytics-token-phrase"></span>',</li>
                        <li>Add the required inputs - use the '<a onclick="selectModuleTab('usage-builder')">Usage Builder</a>' tab for help and 'Inputs' tab for a full list.</li>
                    </ol>
                </div>

                <pre id="usage-example-terraform"></pre>
            </div>
        </div>
    </div>
</div>


<div class="tabs">
    <ul>
        <li id="module-tab-link-readme" class="module-tab-link" style="display: none;"><a onclick="selectModuleTab('readme')">Readme</a></li>
        <li id="module-tab-link-example-files" class="module-tab-link" style="display: none;"><a onclick="selectModuleTab('example-files')">Files</a></li>
        <li id="module-tab-link-inputs" class="module-tab-link"><a onclick="selectModuleTab('inputs')">Inputs</a></li>
        <li id="module-tab-link-outputs" class="module-tab-link"><a onclick="selectModuleTab('outputs')">Outputs</a></li>
        <li id="module-tab-link-providers" class="module-tab-link"><a onclick="selectModuleTab('providers')">Provider Requirements</a></li>
        <li id="module-tab-link-resources" class="module-tab-link">
            <a onclick="selectModuleTab('resources')">Resources</a>
        </li>

        <li id="module-tab-link-analytics" class="module-tab-link" style="display: none;">
            <a onclick="selectModuleTab('analytics')">
                Analytics
                {% if not config.DISABLE_TERRAREG_EXCLUSIVE_LABELS %}
                <span class="tag is-warning is-light">Terrareg Exclusive</span>
                {% endif %}
            </a>
        </li>
        <li id="module-tab-link-usage-builder" class="module-tab-link" style="display: none;">
            <a onclick="selectModuleTab('usage-builder')">
                Usage Builder
                {% if not config.DISABLE_TERRAREG_EXCLUSIVE_LABELS %}
                <span class="tag is-warning is-light">Terrareg Exclusive</span>
                {% endif %}
            </a>
        </li>
        <li id="module-tab-link-integrations" class="module-tab-link">
            <a onclick="selectModuleTab('integrations')">
                Integrations
            </a>
        </li>
        <li style="display: none" id="module-tab-link-settings" class="module-tab-link">
            <a onclick="selectModuleTab('settings')">
                Settings
            </a>
        </li>
    </ul>
</div>

<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <!-- Tab content -->

        <!-- README tab -->
        <div id="module-tab-readme" class="module-tabs content" style="display: none;">
        </div>
        <style>
            #module-tab-readme h1, h2, h3, h4 {
                margin-top: 20px;
            }
        </style>

        <!-- Example files tab -->
        <div id="module-tab-example-files" class="module-tabs" style="display: none;">
            <div class="columns">
                <div class="column is-one-fifths">
                    <nav id="example-file-list-nav" class="panel">
                        <p class="panel-heading">
                        Files
                        </p>
                    </nav>
                </div>

                <div class="column is-four-fifths">
                    <pre><code id="example-file-content" class="language-hcl" data-lang="html"></code></pre>
                </div>
            </div>
        </div>

        <!-- Inputs tab -->
        <div id="module-tab-inputs" class="module-tabs" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default value</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- Outputs tab -->
        <div id="module-tab-outputs" class="module-tabs" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- Providers tab -->
        <div id="module-tab-providers" class="module-tabs" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Namespace</th>
                        <th>Source</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- Resources tab -->
        <div id="module-tab-resources" class="module-tabs" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Provider</th>
                        <th>Source</th>
                        <th>Mode</th>
                        <th>Version</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


        <!-- Analytics tab -->
        <div id="module-tab-analytics" class="module-tabs" style="display: none;">
            <table id="analytics-table" class="table" style="width: 100%">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Module Version</th>
                        <th>Terraform Version</th>
                        <th>Environment</th>
                    </tr>
                </thead>
                <tbody id="analyticsVersionByTokenTable">
                </tbody>
            </table>
        </div>

        <!-- Integrations tab -->
        <div id="module-tab-integrations" class="module-tabs" style="display: none;">
            <p class="subtitle">
                Integrations
            </p>

            <table id="integrations-table" class="table">
            </table>

            <div id="index-version-success" style="display: none" class="notification is-success">
                Successfully indexed version
            </div>
            <div id="index-version-error" style="display: none" class="notification is-danger">
            </div>
            <p class="subtitle">Manually index version</p>
            <div class="field is-vertical">
                <label class="label">Version</label>
                <div class="control">
                    <input id="indexModuleVersion" class="input is-small" type="text" size="5" placeholder="1.0.0">
                </div>
                <label id="integrations-index-module-version-publish" class="checkbox" style="display: none;">
                    <input id="indexModuleVersionPublish" type="checkbox" value="true">
                    Publish
                </label>
                <div class="control">
                    <br />
                    <a onclick="indexModuleVersion();" class="button is-info is-small">
                    Index Version
                    </a>
                </div>
            </div>
        </div>




    </div>
</div>


{% endblock %}