{% extends 'template.html' %}

{% block content %}

<script>

    function renderPage() {
        const router = new Navigo('/');

        const baseRoute = '/modules/:namespace/:module/:provider';

        // Base module provider route
        router.on(baseRoute, function ({ data }) {
            let id = getCurrentObjectId(data);

            createBreadcrumbs(data);
        });
        // Base module version route
        router.on(baseRoute + '/:version', function ({ data }) {
            let id = getCurrentObjectId(data);

            createBreadcrumbs(data);
        });

        router.resolve();
    }

    function getCurrentObjectId(data) {
        let id = `${data.namespace}/${data.module}/${data.provider}`;

        if (data.version) {
            id += `/${data.version}`;
        }

        return id;
    }

    async function loadModuleProviderDetails(data) {
        let details = await getModuleDetails(getCurrentObjectId(data));
    }

    function createBreadcrumbs(data) {
        let breadcrumbs = [
            'Modules',
            data.namespace,
            data.module,
            data.provider
        ]
        if (data.version) {
            breadcrumbs.push(data.version);
        }

        let breadcrumbUl = $('#breadcrumb-ul');
        let currentLink = '';
        breadcrumbs.forEach((breadcrumbName, itx) => {
            // Create UL item for breadcrumb
            let breadcrumbLiObject = $('<li></li>');

            // Create link to current breadcrumb item
            currentLink += `/${breadcrumbName}`;

            // Create link for breadcrumb
            let breadcrumbLink = $(`<a></a>`);
            breadcrumbLink.attr('href', currentLink);
            breadcrumbLink.text(breadcrumbName);

            // If hitting last breadcrumb, set as active
            if (itx == (breadcrumbs.length - 1)) {
                breadcrumbLiObject.addClass('is-active');
            }

            breadcrumbLiObject.append(breadcrumbLink);

            // Add breadcrumb item to to list
            breadcrumbUl.append(breadcrumbLiObject);
        })
    }

    $(document).ready(function () {
        renderPage();
    });
</script>

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul id="breadcrumb-ul">
    </ul>
</nav>

{% endblock %}