{% extends 'template.html' %}

{% block content %}

<script src="/static/js/terrareg/search_result_card.js"></script>

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li id="searchBreadcrumb"><a href="/modules/search">Search</a></li>
        <li id="searchQueryBreadcrumbParent"><a id="searchQueryBreadcrumb" href=""></a></li>
    </ul>
</nav>


<div class="columns">
    <div class="column is-one-fifth">
        <nav class="panel">
            <p class="panel-heading">
              Filters
            </p>

            <a class="panel-block is-active" onclick="toggleChildCheckbox(event);">
                <input id="search-verified" onchange="performSearch();" type="checkbox" />
                <span class="panel-icon">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                </span>
                Verified
            </a>
            <a class="panel-block is-active" onclick="toggleChildCheckbox(event);">
                <input id="search-trusted-namespaces" onchange="performSearch();" type="checkbox" checked="checked" />
                <span class="panel-icon">
                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                </span>
                Trusted Namepsaces
            </a>
            <a class="panel-block" onclick="toggleChildCheckbox(event);">
                <input id="search-contributed" onchange="performSearch();" type="checkbox" />
                Contributed
            </a>
        </nav>
    </div>
    <div class="column is-three-fifths">

        <section id="results">
        </section>

    </div>
</div>

<script>

    function toggleChildCheckbox(event)
    {
        let checkbox = $(event.target).find("input")[0];
        checkbox.checked = !checkbox.checked;
        performSearch();
    }

    let previousSearchString = '';
    function performSearch() {

        let searchQuery = $('#navBarSearchInput')[0].value;

        if (searchQuery) {
            // Mark search query breadcrumb as active
            document.getElementById('searchQueryBreadcrumbParent').className = "is-active";
            document.getElementById('searchBreadcrumb').className = "";

            // Display search breadcrumb
            $('#searchQueryBreadcrumbParent')[0].style.display = 'flex';

            // Update link and text in search query breadcrumb
            document.getElementById('searchQueryBreadcrumb').setAttribute('href', '/modules/search' + queryString);
            document.getElementById('searchQueryBreadcrumb').innerHTML = searchQuery;

            // Perform AJAX query to obtain results
            $.get(`/v1/modules/search?` +
                  `q=${encodeURIComponent(searchQuery)}&` +
                  `verified=${$('#search-verified').is(':checked')}&` +
                  `trusted_namespaces=${$('#search-trusted-namespaces').is(':checked')}&` +
                  `contributed=${$('#search-contributed').is(':checked')}`,
                  function(data, status){
                if (data.modules.length == 0) {
                    $('#results').html(`
                        No modules match your search criteria.
                        <br />
                        Please check for spelling errors and try again.
                    `);
                } else {
                    // Clear reuslts panel before adding results
                    $('#results').html('');

                    // Iterate through modules
                    data.modules.forEach((module) => {
                        createSearchResultCard('results', module);
                    });
                }
            });

            if (searchQuery != previousSearchString) {

                // Update list of search filters
                $.get(`/v1/terrareg/search_filters?q=${encodeURIComponent(searchQuery)}`, (data, status) => {

                });

                previousSearchString = searchQuery;
            }
    
        } else {
            // Set 'search' breadcrumb as active
            document.getElementById('searchBreadcrumb').className = "is-active";
            // Hide search query breadcrumb
            $('#searchQueryBreadcrumbParent')[0].style.display = 'none';

            // Show no query provided
            $('#results').html(`
                No search query has been performed.
                <br />
                Use the search bar above to search for module.
            `);
        }
    }

    navbar_search_modules = performSearch;

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const searchQuery = urlParams.get('q');

    if (searchQuery) {
        $('#navBarSearchInput').val(searchQuery);
    }
    performSearch();
</script>

{% endblock %}
