{% extends 'template.html' %}

{% block title %}{{ namespace }}{% endblock %}

{% block header %}
<script>
    let currentSearchMeta = undefined;

    function prevResults() {
        if (currentSearchMeta && currentSearchMeta.prev_offset !== undefined) {
            getResults(currentSearchMeta.prev_offset);
        }
    }
    function nextResults() {
        if (currentSearchMeta && currentSearchMeta.next_offset !== undefined) {
            getResults(currentSearchMeta.next_offset);
        }
    }
    function getResults(offset) {
        $.get(`/v1/terrareg/modules/{{ namespace }}?offset=${offset}`, function(data) {

            // Update current meta data
            currentSearchMeta = data.meta;

            // Clear any existing modules
            $('#module-list-table').html('');

            // Disable/activate next/previous buttons
            $('#prevButton').prop('disabled', (data.meta.prev_offset === undefined));
            $('#nextButton').prop('disabled', (data.meta.next_offset === undefined));

            // Add each of the modules to the page
            $.each(data.modules, (itx, module_data) => {
                createSearchResultCard('module-list-table', module_data);
            });
        }).fail(() => {
            // Check for no modules
            $('#module-list-table').append('<p>There is no such namespace or no modules that contain published versions');

            $('#prevButton').hide();
            $('#nextButton').hide();
        });
    }
    $(document).ready(function() {
        getResults(0);
    });
</script>
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/modules">Modules</a></li>
        <li class="is-active"><a href="/modules/{{ namespace }}">{{ namespace }}</a></li>
    </ul>
</nav>

<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">

        <section id="module-list-table">
        </section>
        <section>
            <button class="button" id="prevButton" onclick="prevResults();">Prev</button>
            <button class="button" id="nextButton" onclick="nextResults();">Next</button>
        </section>

    </div>
</div>

{% endblock %}
