
{% extends 'template.html' %}

{% block header %}
<script>
    async function loadNamespaces() {
        let namespaces = await getNamespaces();

        // If no namespaces exist, display message
        if (namespaces.length == 0) {
            checkInitialSetup();
        }

        // If there is only 1 namespace, redirect to it
        if (namespaces.length == 1) {
            window.location.href = namespaces[0].view_href;
        }

        $.each(namespaces, (itx, namespace) => {
            $('#namespaces-table-data').append(
                `<tr><td><a href="${namespace.view_href}">${namespace.name}</a><td></tr>`
            );
        })
    }
    $(document).ready(function() {
        loadNamespaces();
    });
</script>
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li class="is-active"><a href="/modules">Modules</a></li>
    </ul>
</nav>

<div class="columns">
    <div id="namespace-list-content" class="column is-three-fifths is-offset-one-fifth">

        <h1 class="title">Namespaces</h1>

        <table class="table is-hoverable">
            <tbody id="namespaces-table-data">

            </tbody>
        </table>

    </div>
</div>

{% endblock %}
