{% extends 'module_details_common.html' %}

{% block module_breadcrumb %}
<li ><a href="/modules/{{ namespace.name }}/{{ module.name }}/{{ module_provider.name }}">{{ module_provider.name }}</a></li>
<li ><a href="/modules/{{ namespace.name }}/{{ module.name }}/{{ module_provider.name }}/{{ module_version.version }}">{{ module_version.version }}</a></li>
<li class="is-active"><a>Submodule: {{ submodule.path }}</a></li>
{% endblock %}

{% block main_details %}

    {% if submodule %}

        <p class="subtitle">
            submodules / {{ submodule.path }}
        </p>

        {% if not module_version.published %}
        <p class="subtitle">
            <b>WARNING:</b> This version of the module is not published.
        </p>
        {% endif %}

        <p>{% if submodule.get_source_browse_url() %}Source Code: <a href="{{ submodule.get_source_browse_url() }}">{{ submodule.get_source_browse_url() }}</a>{% endif %}</p>

        <br />

        <a class="buton" href="{{ module_version.get_view_url() }}">Back to parent</a>


    {% else %}
    <p>There are no published versions of this module.</p>
    {% endif %}
{% endblock %}