
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/bulma/bulma-0.9.3.min.css">
        <script defer src="/static/js/fontawesome/all-v6.0.0.js"></script>
        <script src="/static/js/jquery/jquery-6.3.0.min.js"></script>

        <!-- Data tables -->
        <link rel="stylesheet" href="/static/css/datatables/dataTables.bulma-1.11.5.min.css" />
        <script src="/static/js/datatables/jquery.dataTables-1.11.5.min.js"></script>
        <script src="/static/js/datatables/dataTables.bulma-1.11.5.min.js"></script>

        <!-- Navigo router -->
        <script src="/static/js/navigo/navigo-8.11.1.min.js"></script>

        <link rel="stylesheet" href="/static/css/terrareg.css">

        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script src="/static/js/terrareg/config.js"></script>
        <script src="/static/js/terrareg/module_provider.js"></script>
        <script src="/static/js/terrareg/user-preferences.js"></script>

        <script>
          function navbar_search_modules() {
            let search_string = document.getElementById('navBarSearchInput').value;
            window.location.href = '/modules/search?q=' + encodeURIComponent(search_string);
          }
          function navbar_search_keyup(event) {
            // If enter
            if (event.keyCode === 13) {
              // Cancel default action
              event.preventDefault();
              // Trigger search
              navbar_search_modules();
            }
          }

          async function setupPageLogin() {
            let loggedIn = await isLoggedIn(); 
            if (loggedIn) {
              $('#navbar_login_link').attr('href', '/logout');
              $('#navbar_login_icon').removeClass('fa-lock');
              $('#navbar_login_icon').addClass('fa-sign-out');
              $('#navbar_login_span').html('Logout');
              $('#navbarCreateDropdown').css('display', 'flex');
            }
          }

          $(document).ready(() => {
            setupPageLogin();
          });
        </script>

        <style>
          /* Stop links in cards from being blue */
          .card a {
            color: #000000;
          }
        </style>

	<title>{% block title %}{% endblock %} - {{ terrareg_application_name }}</title>

        {% block header %}{% endblock %}
    </head>


    <body>
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
              <img src="{{ terrareg_logo_url }}" alt="{{ terrareg_application_name }}" width="80">
            </a>
              <div class="navbar-burger burger" data-target="navbarRegistryDropdown">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
        
            <div  class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>

                <div id="navbarRegistryDropdown" class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="#">Registry</a>
                  <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/modules">Modules</a>
                  </div>
                </div>

                <div style="display: none;" id="navbarCreateDropdown" class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="#">Create</a>
                  <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/create-module">Module</a>
                  </div>
                </div>

                <div class="navbar-item" id="navbarSearch">
                  <div class="field has-addons">
                    <div class="control">
                      <input id="navBarSearchInput" onkeyup="navbar_search_keyup(event);" class="input" type="text" placeholder="Search modules">
                    </div>
                    <div class="control">
                      <a id="navBarSearchButton" onclick="navbar_search_modules();" class="button is-info">
                        Search
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="navbar-end">

                <div class="navbar-item">
                  <div class="field is-grouped">
                    <p class="control">
                      <a class="button is-primary" href="https://gitlab.dockstudios.co.uk/pub/terrareg">
                      <span class="icon">
                        <i class="fa fa-code"></i>
                      </span>
                      <span>Source code</span>
                    </a>
                    </p>
                  </div>
                </div>

                <div class="navbar-item">
                  <div class="field is-grouped">
                    <p class="control">
                      <a id="navbar-user-preferences-link" class="button is-primary" onclick="userPreferencesModalShow();">
                      <span class="icon">
                        <i id="navbar-user-preferences" class="fa fa-gear"></i>
                      </span>
                      <span id="navbar-user-preferences-span">Preferences</span>
                    </a>
                    </p>
                  </div>
                </div>

                <div class="navbar-item">
                  <div class="field is-grouped">
                    <p class="control">
                      <a id="navbar_login_link" class="button is-primary" href="/login">
                      <span class="icon">
                        <i id="navbar_login_icon" class="fa fa-sign-in"></i>
                      </span>
                      <span id="navbar_login_span">Login</span>
                    </a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </nav>
        

        <section class="section">

            {% block content %}{% endblock %}

        </section>

        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              Made with <span class="icon"><i class="far fa-heart"></i></span> - <a href="https://gitlab.dockstudios.co.uk/pub/terrareg">Terrareg</a>
            </p>

            <p id="provider-tos">
            </p>
            {% block additional_footer %}{% endblock %}
          </div>
        </footer>


        <!-- User preferences modal -->
        <div id="user-preferences-modal" class="modal">
          <div class="modal-background" onclick="userPreferencesModalClose();"></div>
        
          <div class="modal-content">
            <div class="box">
              <p>User Preferences</p>
              <br />

              <div class="field">
                <label class="label"><input id="user-preferences-show-beta" class="checkbox" type="checkbox" /> Show 'beta' versions</label>
              </div>

              <div class="field">
                <label class="label"><input id="user-preferences-show-unpublished" class="checkbox" type="checkbox" /> Show 'unpublished' versions</label>
              </div>

              <br />

              <button class="button" aria-label="close" onclick="userPreferencesModalSave();">Save</button>
              <button class="button" aria-label="close" onclick="userPreferencesModalClose();">Close</button>
            </div>
          </div>
        
          <button class="modal-close is-large" aria-label="close" onclick="userPreferencesModalClose();"></button>
        </div>
        <!-- !User preferences modal -->

    </body>
</html>
