{% extends 'template.html' %}

{% block title %}User Groups{% endblock %}

{% block header %}
<script>
    function createUserGroup() {
        if (! $('#create-user-group-form')[0].reportValidity()) {
            return;
        }
        $.post({
            url: '/v1/terrareg/user-groups',
            data: JSON.stringify({
                name: $('#user-group-name').val(),
                site_admin: $('#user-group-site-admin').is(':checked'),
                csrf_token: '{{ csrf_token }}'
            }),
            contentType: 'application/json'
        }).done((res) => {
            $('#create-error').css('display', 'none');
            getUserGroupList();
        }).fail((res) => {
            if (res.status == 401) {
                $('#create-error').html('You must be logged in to perform this action.<br />If you were previously logged in, please re-authentication and try again.');
            } else if (res.responseJSON && res.responseJSON.message) {
                $('#create-error').html(res.responseJSON.message);
            } else {
                $('#create-error').html('An unexpected error occurred');
            }
            $('#create-error').css('display', 'block');
            $(window).scrollTop($('#create-error').offset().top);
        });
    }

    function createUserGroupNamespacePermission() {

    }

    function deleteUserGroupNamespacePermission(userGroup, namespace) {}

    async function getUserGroupList() {
        return new Promise((resolve, reject) => {
            $.get('/v1/terrareg/user-groups').then((userGroups) => {
                let tableContent = $('#user-group-table-content');
                for (let userGroup of userGroups) {


                    for (let permission of userGroup.namespace_permissions) {
                        let row = $(`<tr></tr>`);

                        row.append(`<td class="is-vcentered"></td>`);
                        row.append(`<td class="is-vcentered">${userGroup.name}</td>`);
                        row.append(`<td class="is-vcentered">${userGroup.site_admin}</td>`);
                        row.append(`<td class="is-vcentered">${permission.namespace}</td>`);
                        row.append(`<td class="is-vcentered">${permission.permission_type}</td>`);
                        let buttonTd = $('<td class="is-vcentered"></td>');
                        let button = $('<button class="button">Create</button>');
                        button.bind(onclick, () => {
                            deleteUserGroupNamespacePermission(userGroup.name, permission.namespace);
                        });
                        buttonTd.append(button);
                        row.append(buttonTd);

                        tableContent.append(row);
                    }

                    {
                        let row = $(`<tr id="createUserGroupPermissionRow-${userGroup.name}"></tr>`);
                        row.append(`<td class="is-vcentered"></td>`);
                        row.append(`<td class="is-vcentered">${userGroup.name}</td>`);
                        row.append(`<td class="is-vcentered">${userGroup.site_admin}</td>`);
                        row.append(`<td class="is-vcentered"><select class="select"></select></td>`);
                        row.append(`<td class="is-vcentered"><select class="select"><option>Full</option><option>Modify</option></select></td>`);
                        let buttonTd = $('<td class="is-vcentered"></td>');
                        let button = $('<button class="button is-small is-primary">Create</button>');
                        button.bind(onclick, () => {
                            createUserGroupNamespacePermission(userGroup.name);
                        });
                        buttonTd.append(button);
                        row.append(buttonTd);
                        tableContent.append(row);

                    }

                    {
                        let row = $(`<tr></tr>`);
                        row.append(`<td class="is-vcentered"></td>`);
                        row.append(`<td class="is-vcentered">${userGroup.name}</td>`);
                        row.append(`<td class="is-vcentered"></td>`);
                        row.append(`<td class="is-vcentered"></td>`);
                        row.append(`<td class="is-vcentered"></td>`);
                        let buttonTd = $('<td class="is-vcentered"></td>');
                        let button = $('<button class="button is-small is-danger">Delete user group</button>');
                        buttonTd.append(button);
                        row.append(buttonTd);
                        tableContent.append(row);
                    }

                };
            }).then(() => {
                resolve();
            });
        });
    }

    $(document).ready(() => {
        getUserGroupList().then(() => {
            $("#user-group-table").DataTable({
                order: [[1, 'asc']],
                autoWidth: true,
                columnDefs: [
                    {
                        targets: [0, 1],
                        visible: false
                    }
                ],
                rowGroup: {
                    dataSrc: [1, 2]
                },
                pagingType: "full_numbers_no_ellipses",
                lengthMenu: [
                    [25, 50, -1],
                    [25, 50, 'All'],
                ],
            });
        });
    });

</script>
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li>Settings</li>
        <li class="is-active"><a href="/user-groups">User Groups</a></li>
    </ul>
</nav>

<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
     
        <div class="field is-vertical">



            <!-- <div class="table-container"> -->
                <table id="user-group-table" class="table display compact nowrap responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Group Name</th>
                            <th>Site Admin</th>
                            <th>Namespace</th>
                            <th>Permission</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="user-group-table-content">
                    </tbody>
                </table>
            <!-- </div> -->




            <h2 class="h2">Create User Group</h2>
            <div id="create-error" style="display: none" class="notification is-danger">
            </div>
            <form id="create-user-group-form" onsubmit="event.preventDefault(); createUserGroup();">
                <div class="field">
                    <label class="label">SSO Group Name</label>
                    <div class="control">
                        <input required id="user-group-name" class="input" type="text" placeholder="my-team">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Site Admin</label>
                    <div class="control">
                        <input id="user-group-site-admin" class="checkbox" type="checkbox" value="true">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                    <button class="button is-link">Create</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</nav>

{% endblock %}
