{
  "branches": [
    "main",
    { name: 'release/3.12', range: '3.12.x' },
    { name: 'release/3.13', range: '3.13.x' },
    { name: 'release/4.0', range: '4.0.x' },
    { name: 'release/4.1', range: '4.1.x' },
    { name: 'release/4.2', range: '4.2.x' },
    { name: 'release/4.3', range: '4.3.x' }
  ],
  "gitPushOptions": ["ci.skip"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Changelog"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ]
  ]
}
