aniso8601==9.0.1
click==8.1.2
Flask==2.1.1
Flask-RESTful==0.3.9
greenlet==1.1.2
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
Markdown==3.3.6
markdown2==2.4.2
MarkupSafe==2.1.1
python-magic==0.4.25
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.35
Werkzeug==2.0.0
zipp==3.8.0
