
.result-card-label {
    margin-left: 8px;
    padding: 4px
}

.default-hidden {
    display: none !important;
}

.module-provider-card-provider-text {
    vertical-align: middle;
}
.module-provider-card-provider-text > button {
    height: 100%;
    vertical-align: middle;
}
